<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Zingat</strong> is a capstone project of the Rust programming course available at <a
                href="https://zerotomastery.io">zerotomastery.io</a>.
        </p>
    </div>
</footer>